<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="io.engage.sdk.push.fcm.EngagePushInitProvider"
            android:authorities="${applicationId}.engage-push-init"
            android:exported="false"
            android:initOrder="90" />

        <service
            android:name="io.engage.sdk.push.fcm.EngageFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.engage.sdk.push.fcm.EngagePushDismissReceiver"
            android:exported="false" />
    </application>
</manifest>

